<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= message%></title>
  </head>
  <body>
    <h1>To: <%= messages[0].username %></h1>
    <p><%= messages[0].text%></p>
    <p>Added: <%= messages[0].added%></p>
  </body>
</html>
